*{
    font-family:Arial, Helvetica, sans-serif ;
    font-style: italic;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0; padding: 0;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
}

body{
    overflow: hidden;
    background: #088ae0;

    .container{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .content{
            margin-top: -10rem;
            width: 35%;

            h1{
                font-size: 7rem;
                color: #fff;
            }

            h3{
                font-size: 3rem;
                color: black;
                margin: 1rem;
            }

            h5{
                font-size: 1.5rem;
                color: gold;
            }

            button{
                outline: none;
                border: none;
                background: red;
                height: 4rem;
                width: 16rem;
                color: #fff;
                border-radius: 5rem;
                margin: 2rem 0;
                cursor: pointer;

                &:hover{
                    background-color:rgb(186, 11, 11) ;
                }
            }
            .icons{
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 3rem;
                    margin: 1rem;
                    cursor: pointer;

                    &:hover{
                        transform: scale(.8);
                    }
                }
            }
        }

        .images{
            margin-top: -10rem;
            width: 40%;
            position: relative;

            img{
                width: 40vw;
            }
            .plane{
                position: absolute;
                top:5%;
                right: -5%;
                animation:float 2s linear infinite;
            }
        }
    }
}

@keyframes float{
    0%, 100%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(1.5rem);
    }
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;

    .logo{
        img{
            height: 10rem;
        }
    }

    nav{
        width: 50rem;

        ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style-type: none;

            li{
                a{
                    text-decoration: none;
                    color: #111;
                    font-size: 2rem;
                    padding: 1rem;

                    &:hover{
                        background:red;
                        border-radius: 5px;
                        color: #fff;
                    }
                }
            }
        }
    }
}
